.card-auto-select__header-type {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  color: white;
}

.card-auto-select {
  font-family: "Lexend Deca", sans-serif;
  color: white;
}

.principal-button {
  font-family: "Lexend Deca", sans-serif;
}
