@use "variables";

.principal-button {
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px;
  width: 120px;
  color: hsl(31, 77%, 52%);
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: white;
  }

  &--sedan {
    color: variables.$color-card-sedans;
  }
  &--suvs {
    color: variables.$color-card-suvs;
  }
  &--luxury {
    color: variables.$color-card-luxury;
  }
}
