@use "variables";

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 65%;
  height: 70%;
}

@media only screen and (max-width: variables.$change-resolution) {
  .cards-container {
    display: block;
  }
}
