@use "variables";

.card-auto-select {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;

  list-style: none;
  height: 100%;

  &--sedan {
    border-radius: 10px 0 0 10px;
    background-color: variables.$color-card-sedans;
  }
  &--suvs {
    background-color: variables.$color-card-suvs;
  }
  &--luxury {
    border-radius: 0 10px 10px 0;
    background-color: variables.$color-card-luxury;
  }
}

.card-auto-select__product-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media only screen and (max-width: variables.$change-resolution) {
  .card-auto-select {
    height: 425px;

    &--sedan {
      border-radius: 10px 10px 0 0;
    }
    &--luxury {
      border-radius: 0 0 10px 10px;
    }
  }
}
